<div class="page-header">
  <h1 class="page-heading-txt">Schedule</h1>
</div>

<hr class="page-heading-line" />

<!-- Bootstrap accordion rules
  .panel-title a['href':'#?'] = panel-collapse #?
  .panel-collapse class "in" = panel open
  -->

<div class="accordion-container">
  <h2 class="accordion-day-txt">Thursday, April 14</h2>

  <div class="panel-group" id="accordionThur" role="tablist" aria-multiselectable="true">

  {{#each model as |event| }}
  {{#if event.isThurs}}

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button"
            data-toggle="collapse"
            data-parent="#accordionThur"
            href="#{{event.id}}"
            aria-expanded="true"
            aria-controls="{{event.id}}">
              <div class="schedule-event-time">
                <span class="event-title-txt">
                {{event.time}}</span> <br />

                {{#each event.icons as |icon|}}
                <span class="event-icons">
                {{fa-icon icon}}
                </span>
                {{/each}}

              </div><!-- .schedule-event-time -->
              <div class="schedule-event-title" >
                <span class="event-title-txt">
                {{event.title}}</span><br />
                <span class="event-location">
                {{event.location-name}}
                </span>
              </div><!-- .schedule-event-title-->
          </a>
        </h4>
      </div><!-- .panel-heading -->

      <div id="{{event.id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body panel-body-schedule">
          <div class="event-location purple-emphasis">
            {{event.location}}
          </div>
          <div class="event-description">
            {{event.description}}
          </div>
          {{#if event.storytellers}}
            <div class="featured-tellers">
                <span class="featured-tellers-emphasis">Featured Storytellers:</span>
            </div><!-- .featured-tellers -->
            <div class="tellers-list">
              <h3>{{event.storytellers}}</h3>
           </div>
          {{/if}}
          <div>
            {{#link-to 'map' class="tellers-btn"}}Map{{/link-to}}
            {{#link-to 'tellers' class="tellers-btn"}}Tellers{{/link-to}}
          </div>

        </div><!-- .panel-body -->
      </div><!-- .panel-collapse -->
    </div><!-- .panel -->

  {{/if}}
  {{/each}}

  </div><!-- .panel-group -->
</div><!-- .accordion-thur-container -->

<!-- Friday Accordion -->
<div class="accordion-container">
  <h2 class="accordion-day-txt">Friday, April 15</h2>

  <div class="panel-group" id="accordionFri" role="tablist" aria-multiselectable="true">

  {{#each model as |event index| }}

  {{#if event.isFri}}

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button"
            data-toggle="collapse"
            data-parent="#accordionFri"
            href="#{{event.id}}"
            aria-expanded="false"
            aria-controls="{{event.id}}">
              <div class="schedule-event-time">
                <span class="event-title-txt">
                {{event.time}}</span> <br />
                {{#each event.icons as |icon|}}
                <span class="event-icons">
                {{fa-icon icon}}
                </span>
                {{/each}}
              </div><!-- .schedule-event-time -->
              <div class="schedule-event-title" >
                <span class="event-title-txt">
                {{event.title}}</span><br />
                <span class="event-location">
                {{event.location-name}}
                </span>
              </div><!-- .schedule-event-title-->
          </a>
        </h4>
      </div><!-- .panel-heading -->

      <div id="{{event.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

        <div class="panel-body panel-body-schedule">
        <div class="event-location purple-emphasis">
          {{event.location}}
        </div>
          {{event.description}}

          {{#if event.storytellers}}
           <div class="featured-tellers">
               <span class="featured-tellers-emphasis">Featured Storytellers:</span>
           </div><!-- .featured-tellers -->
           <div class="tellers-list">
             <h3>{{event.storytellers}}</h3>
          </div>
          {{/if}}
          <div class="schedule-btns-div">
            {{#link-to 'map' class="tellers-btn"}}Map{{/link-to}}
            {{#link-to 'tellers' class="tellers-btn"}}Tellers{{/link-to}}
          </div>
        </div><!-- .panel-body -->
      </div><!-- .panel-collapse -->
    </div><!-- .panel -->

  {{/if}}
  {{/each}}

  </div><!-- .panel-group -->
</div><!-- .accordion-thur-container -->

<!-- Saturday Accordion -->
<div class="accordion-container">
  <h2 class="accordion-day-txt">Saturday, April 16</h2>

  <div class="panel-group" id="accordionSat" role="tablist" aria-multiselectable="true">

  {{#each model as |event| }}
  {{#if event.isSat}}

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button"
            data-toggle="collapse"
            data-parent="#accordionSat"
            href="#{{event.id}}"
            aria-expanded="false"
            aria-controls="{{event.id}}">
              <div class="schedule-event-time">
              <span class="event-title-txt">
              {{event.time}}</span> <br />
              {{#each event.icons as |icon|}}
              <span class="event-icons">
              {{fa-icon icon}}
              </span>
              {{/each}}
              </div><!-- .schedule-event-time -->
              <div class="schedule-event-title" >
                <span class="event-title-txt">
                {{event.title}}</span><br />
                <span class="event-location">
                {{event.location-name}}
                </span>
              </div><!-- .schedule-event-title-->
          </a>
        </h4>
      </div><!-- .panel-heading -->

      <div id="{{event.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body panel-body-schedule">
        <div class="event-location purple-emphasis">
          {{event.location}}
        </div>
          {{event.description}}

          {{#if event.storytellers}}
           <div class="featured-tellers">
               <span class="featured-tellers-emphasis">Featured Storytellers:</span>
           </div><!-- .featured-tellers -->
           <div class="tellers-list">
             <h3>{{event.storytellers}}</h3>
          </div>
          {{/if}}
          <div class="schedule-btns-div">
            {{#link-to 'map' class="tellers-btn"}}Map{{/link-to}}
            {{#link-to 'tellers' class="tellers-btn"}}Tellers{{/link-to}}
          </div>
        </div><!-- .panel-body -->
      </div><!-- .panel-collapse -->
    </div><!-- .panel -->

  {{/if}}
  {{/each}}

  </div><!-- .panel-group -->
</div><!-- .accordion-thur-container -->

<!-- Sunday Accordion -->
<div class="accordion-container">
  <h2 class="accordion-day-txt">Sunday, April 16</h2>

  <div class="panel-group" id="accordionSun" role="tablist" aria-multiselectable="true">

  {{#each model as |event| }}
  {{#if event.isSun}}

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button"
            data-toggle="collapse"
            data-parent="#accordionSun"
            href="#{{event.id}}"
            aria-expanded="false"
            aria-controls="{{event.id}}">
              <div class="schedule-event-time">
              <span class="event-title-txt">
              {{event.time}}</span> <br />
              {{#each event.icons as |icon|}}
              <span class="event-icons">{{fa-icon icon}}</span>
              {{/each}}
              </div><!-- .schedule-event-time -->
              <div class="schedule-event-title" >
                <span class="event-title-txt">
                {{event.title}}</span><br />
                <span class="event-location">
                {{event.location-name}}
                </span>
              </div><!-- .schedule-event-title-->
          </a>
        </h4>
      </div><!-- .panel-heading -->

      <div id="{{event.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body panel-body-schedule">
        <div class="event-location purple-emphasis">
          {{event.location}}
        </div>
          {{event.description}}

          {{#if event.storytellers}}
           <div class="featured-tellers">
               <span class="featured-tellers-emphasis">Featured Storytellers:</span>
           </div><!-- .featured-tellers -->
           <div class="tellers-list">
             <h3>{{event.storytellers}}</h3>
          </div>
          {{/if}}
          <div class="schedule-btns-div">
            {{#link-to 'map' class="tellers-btn"}}Map{{/link-to}}
            {{#link-to 'tellers' class="tellers-btn"}}Tellers{{/link-to}}
          </div>
        </div><!-- .panel-body -->
      </div><!-- .panel-collapse -->
    </div><!-- .panel -->

  {{/if}}
  {{/each}}

  </div><!-- .panel-group -->
</div><!-- .accordion-thur-container -->


{{outlet}}
