<div class="page-header">
  <h1 class="page-heading-txt">Tellers</h1>
</div>

<hr class="page-heading-line" />

<div class="containter-fluid">

  {{#each model as |teller| }}

  <div class="row row1">
    <div class="col-xs-12 col-md-4 col">
      <img src="/assets/images/{{teller.avatar}}">
    </div>
    <div class="col-xs-12 col-md-8 col">
      <span class="row-heading">{{teller.name}}
      </span><br />
      <span class="teller-bio">
        {{teller.bio}}
      </span><br />
      <span class="row-subheading teller-url">
        {{teller.url}}
      </span>
    </div>


  </div><!-- .row -->

  <div class="row row2">
    <div class="col-xs-12 col-md-4 col">
      <span class="row-subheading">Appearing At:</span><br />
      {{#each teller.events as |event|}}
        {{event}}<br />

      {{/each}}
    </div>

    <div class="col-xs-12 col-md-8 col">
      {{#link-to 'map' class="tellers-btn"}}Map{{/link-to}}
      {{#link-to 'schedule' class="schedule-btn"}}Schedule{{/link-to}}
    </div>


  </div><!-- .row -->

  {{/each}}


</div><!-- .container-fluid -->

{{outlet}}
