<div class="page-header">
  <h1 class="page-heading-txt">Tellers</h1>
</div>

<hr class="page-heading-line" />

<div class="containter-fluid container-tellers">
  {{#each model as |teller| }}
  <div class="row row1">
    <div class="col-xs-12 col-md-5 col col1">
      <img src="/assets/images/{{teller.avatar}}">
    </div>

    <div class="col-xs-12 col-md-7 col col2">
      <span class="row-heading">{{teller.name}}
      </span><br />
      <span class="teller-bio">
        {{teller.bio}}
      </span>

      <div class="appearing-wrap">
        <span class="row-subheading">Appearing At:</span><br />
        {{#each teller.events as |event|}}
          {{event}}<br />

        {{/each}}

      </div><!-- .appearing-wrap -->

    </div><!-- .col -->
  </div><!-- .row -->


  <div class="row row2">
    <div class="col-xs-12 col-md-6 col col1">
      <span class="teller-url">
        <a href="http://www.{{teller.url}}">{{teller.url}}</a>
      </span>
    </div><!-- .col -->
    <div class="col-xs-12 col-md-6 col col2">
    <div class="links-wrap">
      {{#link-to 'map' class="tellers-btn map-btn"}}Map{{/link-to}}
      {{#link-to 'schedule' class="schedule-btn"}}Schedule{{/link-to}}
    </div><!-- .links-wrap -->

    </div><!-- .col2 -->
  </div><!-- .row -->

  {{/each}}


</div><!-- .container-fluid -->

{{outlet}}
